body {
	margin: 0;
}

/*header*/

.masthead {
	background-color: #501f84;
}

.nbn-logo {
	height: 2em;
}

/*fading*/

#poster {
	display: inline-block;
	margin: 0;
}

@keyframes fadein {
	from { opacity: 0; }
    to   { opacity: 1; }
}

@-webkit-keyframes fadein {
	from { opacity: 0; }
    to   { opacity: 1; }
}

@-moz-keyframes fadein {
	from { opacity: 0; }
    to   { opacity: 1; }
}

.piece {
	width: 33.11112%;
	opacity: 0;

	-webkit-animation: fadein ease-in 1; /* Safari, Chrome and Opera > 12.1 */
    -moz-animation: fadein ease-in 1; /* Firefox < 16 */
    -ms-animation: fadein ease-in 1; /* Internet Explorer */
   	animation: fadein ease-in 1;

   	-webkit-animation-duration:1s;
	-moz-animation-duration:1s;
	animation-duration:1s;

   	-webkit-animation-fill-mode:forwards;  /* this makes sure that after animation is done we remain at the last keyframe value (opacity: 1)*/
	-moz-animation-fill-mode:forwards;
	animation-fill-mode:forwards;
}

#two {
	-webkit-animation-delay: 0.5s;
	-moz-animation-delay: 0.5s;
	animation-delay: 0.5s;
}

#three {
	-webkit-animation-delay: 0.8s;
	-moz-animation-delay: 0.8s;
	animation-delay: 0.8s;
}

#four {
	-webkit-animation-delay: 1.1s;
	-moz-animation-delay: 1.1s;
	animation-delay: 1.1s;
}

#five {
	-webkit-animation-delay: 1.4s;
	-moz-animation-delay: 1.4s;
	animation-delay: 1.4s;
}

#six {
	-webkit-animation-delay: 1.7s;
	-moz-animation-delay: 1.7s;
	animation-delay: 1.7s;
}


.caption {
	font-family: "Proxima-Nova", "Helvetica",sans-serif;
  	color: #bbb;
  	font-size: .8em;
  	font-weight: 300;
  	text-align: right;
  	margin-right: 15px;
  	top: 5px;
}

/*story*/

h1, h2, h3 {
	text-align: center;
}

h1 {
	font-size: 5em;
	font-weight: 700;
	font-family: "Playfair Display";
	margin: 0.5em;
}

h2 {
	margin: 2em auto 1em auto;
	font-family: "Playfair Display";
	font-size: 1.75em;
	font-weight: 400;
	line-height: 1.25em;
	width: 70%;
}

h3 {
	font-size: 1.25em;
	margin: 15px 0 50px 0;
	font-weight: 700;
	font-family: "Playfair Display";
}

p {
	font-size: 1.15em;
}

#container {
	width: 50%;
	margin: 3em auto .75em auto
}

.bold {
	font-weight: bold;
	font-family: "Playfair Display";
	font-size: 1.5em;
	color: #0cd7d4;
}

.story {
	font-family: "Georgia";
	font-size: 1em;
	line-height: 1.8em;
}

/*design elements*/

.separate {
	width: 20%;
	margin: 3em auto 3em auto;
	display: block;
}

.reverse {
	transform: rotate(180deg);
}

.pull-quote p{
	font-weight: bold;
	font-size: 2.2em;
	font-family: "Playfair Display";
	color: white;
	background-color: #0cd7d4;
	margin: 0 -35% 1.5em -35%;
    padding: 15px;
    text-align: center;
}

.word {
	border-bottom: 2px solid #0cd7d4;
}

.word:hover {
	background-color: #0cd7d4;
	cursor: pointer;
	color: white;
}

.definition {
	width: 40%;
	border: 3px solid #0cd7d4;
	margin: 0 -25% 0 2em;
	float: right;
	display: none;
}

.definition p{
	font-size: 1em;
	font-family: "Playfair Display";
	padding: 0.7em;
	line-height: 1.5em;
	margin: 0;
}

.photo {
	margin: 4em 0 4em 0;
}

.photo img{
	width: 100%;
	display: block;
}

.photo p{
	font-family: "Playfair Display";
	font-size: 1.25em;
	font-weight: 700;
	color: #0cd7d4;
	margin: 1.5em -15% 0 -15%;
	text-align: center;

}

/*footer*/

footer {
	background-color: #501f84;
 	margin-top: 100px;
  	padding: .5em 0 .5em 0;
  	width: 100%;
}

footer p {
	font-family: "Proxima-Nova", "Helvetica", sans-serif;
	color: #fff;
	font-size: .875em;
	line-height: 1.5em;
	margin: 0 auto 0 auto;
	width: 60%;
}

footer a{
	color: #fff;
	text-decoration: none;
}

footer a:hover{
	text-decoration: underline;
}

.nbn-footer {
	margin-top: 20px;
}

.container {
	max-width: 68em;
  	margin-left: auto;
  	margin-right: auto;
  	padding: 0 1.25em;
}

.content-block {
	margin: 0.25em 0 0.25em 0;
	padding: 0 1.25em;
}


@media screen and (max-width: 1190px) {
	.piece {
		width: 49.2%;
	}

	.pull-quote p{
		font-size: 1.8em;
		margin: 0 -30% 1.5em -30%;
    	padding: 10px;
	}

	.photo p {
		font-size: 1em;
	}
}

@media screen and (max-width: 625px) {
	h1 {
		font-size: 3em;
	}

	h2 {
		font-size: 1.5em;
	}

	#container {
		width: 65%;
	}

	.pull-quote p {
		margin: 0 -15% 0 -15%;
		font-size: 1.3em;
	}

	.definition {
		width: 35%;
		border: 3px solid #0cd7d4;
		margin: 0 -15% 0 2em;
	}

	.photo p {
		font-size: 1em;
	}

	footer p {
		width: 75%;
	}

}

@media screen and (max-width: 400px) {
	#container {
		width: 80%;
	}

	.definition {
		width: 100%;
		margin: 0;
		float: none;
	}

	footer p {
		text-align: center;
	}

}

